// colors

$BG_Body_Light: #F3F6FF;
$BG_Body_Dark: #111111;
$BG_Body_Creamy: #eeeeee;
$Text_Body_Dark: white;
$Text_Body_Light: black;
$white-color: #ffffff;
$Font_Subtitle_Light: #008EEC;
$Font_Body_Light: #363636;
$Font_Body_Dark: #c8c8c8;
$Recently_View_Shadow_Light: 0px 4px 4px rgba(214, 230, 255, 0.25);
$Recently_View_Shadow_Dark: 0px 4px 4px rgba(0, 0, 0, 0.25);
$BG_Input_Form_Dark:#4F4F4F;
$Success_Message_Light:green;
$Success_Message_Dark:white;
$Heading_Light: #3B68D7;
$H2_Background: linear-gradient(87.62deg, #94c0ff -44.71%, #cbebff 100%);
$Box_Blue: #0094FF;
$transparent: transparent;
$Box_Text_Light: #CBCBCB;
$Box_Red: #FF0000;
$Box_Gray: #6F6F6F;
$Box_Title_Gray: #848484;
$List_Text_Light:#C4C4C4;
$Chapter_Number_Blue: #006ae1;
$Topic_List_Item: #418DFE;
$Code_Title_Light: #2D2D2D;





$themes: (
  light: (
    bodyBg: $BG_Body_Light,
    bodyBgCreamy: $BG_Body_Creamy,
    bodyText: $Text_Body_Light,
    fontSubtitle: $Font_Subtitle_Light,
    courseName: $Font_Body_Light,
    authorName: $Font_Body_Light,
    recentlyViewShadow: $Recently_View_Shadow_Light,
    bgInputFrom:$BG_Body_Light,
    successMessage:$Success_Message_Light,
    heading: $Heading_Light,
    h2Background: $H2_Background,
    boxBackground: $white-color,
    boxText: $Box_Text_Light,
    shadowBoxBg: $white-color,
    shadowBoxText: $Box_Text_Light,
    shadowBoxShadow: 0px 0px 10px rgba(0, 0, 0, 0.25),
    shadowBoxTitleShadow: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25)),
    blueBoxTitle: $Box_Blue,
    redBoxTitle: $Box_Red,
    greyBoxTitle: $Font_Body_Light,
    listText: $Font_Body_Light,
    greyOlText: $Box_Gray,
    ulGrayDot: $Box_Gray,
    topicListItem: $Topic_List_Item,
    codeTitle: $Code_Title_Light,


  ),
  dark: (
    bodyBg: $BG_Body_Dark,
    bodyBgCreamy: $BG_Body_Dark,
    bodyText: $Text_Body_Dark,
    fontSubtitle: $white-color,
    courseName: $white-color,
    authorName: $Font_Body_Dark,
    recentlyViewShadow: $Recently_View_Shadow_Dark,
    bgInputFrom:$BG_Input_Form_Dark,
    successMessage:$Success_Message_Dark,
    heading: $white-color,
    h2Background: $white-color,
    boxBackground: $transparent,
    boxText: $white-color,
    shadowBoxBg: $Box_Text_Light,
    shadowBoxText: $Font_Body_Light,
    shadowBoxShadow: 0px 0px 10px #FFFFFF,
    shadowBoxTitleShadow: drop-shadow(0px 0px 10px #FFFFFF),
    blueBoxTitle: $white-color,
    redBoxTitle: $white-color,
    greyBoxTitle: $white-color,
    listText: $white-color,
    greyOlText: $white-color,
    ulGrayDot: $Box_Text_Light,
    topicListItem: $white-color,
    codeTitle: $white-color,
















  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}


// media queries

// extra small

$screen-xs-min: 425px;

$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 767px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

@mixin xs {
  @media (max-width: #{$screen-xs-min}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}
